<div class="navigation-admin-menu">
  <%= link_to 'Modifier les informations de mon compte', edit_user_registration_path, class: 'classic-button' %>
  <%= link_to 'Voir mon profil', admin_user_path(@user), class: 'classic-button'  %>
  <%= link_to 'Voir mes projets', admin_user_projects_path(@user), class: 'classic-button'  %>
</div>


