    <header>
      <div class="about-wrapper" id="about">
        <div class="about-description">
          <h1><%= @user.first_name %> </br> <%= @user.last_name %></h1>
          <p> <%= @user.description %></p>
        </div>
        <%= cl_image_tag @user.photo.key %>
      </div>
    </header>

    <div class="works-wrapper" id="works">
      <div class="works-header">
        <h2>My Works</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="works-pictures-container">
        <div class="img1" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img2" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img3" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img4" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img5" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
        <div class="img6" id="works-image">
          <div id="works-description">
            <h3>What did I do?</h3>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit</p>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-wrapper" id="contact">
      <h2>Contact:</h2>
      <p>Phone: +33 (0)6 18 01 86 34</p>
      <p>Email: aurore.demierre@gmail.com</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/aurore-demierre/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/auroredemierre/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
