.contact-wrapper {
  height: 220px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  color: white;
  margin-top: 4rem;
  color: white!important;

  h2 {
    margin-bottom: 2rem;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 146px;
  margin: 0 auto;

  a {
    color: white;
    i {
      font-size: 20px;
    }
  }
}
