header {
  height: 100vh;
  background-color: #FBEFEF;
  margin-bottom: 4rem;

  .about-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11rem 0;

    img {
      width: 300px;
    }
  }
}

.about-description {

  margin-right: 2rem;
  max-width: min-content;

  h1 {
    font-size: 96px;
  }

  p {
    text-align: end;
  }
}

@media screen and (max-width: 850px) {

  header{
    .about-wrapper {
      display: block;
      text-align: -webkit-center;
      padding: 2rem 0;

      img {
        width: 200px;
      }
    }
  }

  .about-description {

    margin-bottom: 2rem;
    margin-right: 0;


    h1 {
      font-size: 76px;
    }

    p {
      text-align: center;
    }
  }


}


