.nav-bar-wrapper {
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;


  .nav-bar-left {
    width: 406px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-right {
    width: 306px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-bar-left {
  a {
    text-decoration: none;
    color: black;
  }
}

.nav-bar-right {

  .phone-number {
    display: flex;



    .red-phone-number {
      color: #F2CD5D;
      margin-left: 0.4rem;
      font-weight: bold;
    }
  }

  .line {
    width: 1px;
    height: 12px;
    background-color: black;
  }

  .icon{

    display: flex;
    justify-content: space-between;
    width: 14%;

    a {
      text-decoration: none;
      color: #F2CD5D;

    }
  }
}

@media screen and (max-width: 850px) {



  .nav-bar-wrapper{
    height: 76px;
  }
  .nav-bar {
    margin-top: 0.5rem;
    display: block;
    text-align: -webkit-center;

    .red-phone-number {
      color: #F2CD5D;
    }

    .nav-bar-left {
      width: 312px;
    }
  }
}

