.works-wrapper {
  text-align: center;
  margin-bottom: 4rem;
}

.works-header {
  max-width: 70%;
  margin: 0 auto 2.5rem auto;
  text-align: center;
  font-weight: 300;
}


.work-image {
  position: relative;
  border: 1px solid black;
  display: flex;

  img {
    width: 100%;
  }
}


.works-pictures-container {
  align-items: start;
  justify-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  margin: 0 2rem;
}




.work-image:before {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.work-image:hover:before {
    opacity: 1;
}

.work-description {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  color: white;
  width: 80%;

}


.work-image:hover .work-description {
  visibility: visible;
  opacity: 1;
}


@media screen and (max-width: 850px) {

  .works-pictures-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "img0"
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
    margin: 0 2rem;
  }


}
